div.index_nav
    a(href=links["about"]) about
    a(href=links["comedy"]) comedy
    a(href=links["zines"]) zines
    a(href=links["writing"]) writing
    a(href=links["photos"]) photography
    a(href=links["contact"]) contact
