div.nav
    ul
        li
            a(href=links["about"]) about
        li
            a(href=links["comedy"]) comedy
        li
            a(href=links["zines"]) zines
        li
            a(href=links["writing"]) writing
        li(id="subnavParent")
            a(href=links["photos"]) photography
                div.subnav
                    ul
                        li 
                            a(href=links["places"]) places
                        li 
                            a(href=links["portraits"]) portraits
                        li 
                            a(href=links["summerculture"]) summer culture
                        li 
                            a(href=links["home"]) home
        li
            a(href=links["contact"]) contact
