link(
    rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
    crossorigin="anonymous" 
)
link(
    rel="stylesheet"
    type="text/css"
    href=links["stylesheet"]
)
link(
    rel="apple-touch-icon"
    sizes="180x180" 
    href="http://madeleinefellows.com/apple-touch-icon.png"
)
link(
    rel="icon" 
    type="image/png" 
    sizes="32x32" 
    href="http://madeleinefellows.com/favicon-32x32.png"
)
link(
    rel="icon" 
    type="image/png" 
    sizes="16x16" 
    href="http://madeleinefellows.com/favicon-16x16.png"
)
link(
    rel="manifest" 
    href="http://madeleinefellows.com/site.webmanifest"
)
meta(
    name="description" 
    content="A collection of comedy projects and film photography by writer Madeleine Fellows, of Portland, Oregon."
)
meta(
    http-equiv="Content-Type" 
    content="text/html; charset=UTF-8"
)
