<!doctype html>
html
    block site-head
        head
            title= title
            include includes/siteheader.pug
            link(href=links["feather_style"] type="text/css" rel="stylesheet" )
            link(href=links["feathergallery_style"] type="text/css" rel="stylesheet" )
    block site-body
        body
            div.contentflexed
                div.site-name-nav
                    h1= sitename
                    include includes/navbar.pug
                block page-content
                    div.pagecontent
                        h3= "gallery: " + pagename
                        p Click an image below for an expanded view.
                        div.photogallery(data-featherlight-gallery data-featherlight-filter="a")
                            each photo in photos
                                div(class='photile')
                                    a(class="gallery" href=photo.link alt=photo.title)
                                        img(src=photo.thumblink)
            div.sitefoot
                include includes/sitefooter.pug
            block featherlight-scripts
                script(src=links["jquery"] type="text/javascript")
                script(src=links["feather_js"] type="text/javascript" charset="utf-8")
                script(src=links["feathergallery_js"] type="text/javascript" charset="utf-8")
                script(src=links["gallerycaption"] type="text/javascript")
