extends gallery

block page-content
    div.pagecontent
        h3= pagename
        p Maddy works professionally as a headshot photographer and event photographer. She uses both film and digital cameras. 
        p Maddy shoots film with her late grandma Betty Anne’s film camera, an Olympus OM-2. Since the 70s, the Olympus has traveled all over the US with her Grandparents, and to Egypt and Morocco with her mom. The camera has Maddy’s mom’s surname, Shoaff, etched onto the bottom.
        p Maddy is available to take your headshots, event photographs, band photos, improv team photos, etc. at affordable rates. #[a(href=links["contact"]) Contact her here.]
        h3 galleries
        p Click an image below to check out curated galleries of some of my favorite shots.
        div.photogallery
            each photo in photos
                div(class='photile')
                    a(href=(process.env.NODE_ENV === 'development') ? photo.devlink : photo.prodlink alt=photo.title)
                        img(src=photo.thumblink)
                        p= photo.title
